<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>

<%- include('links'); -%>

<body class="container">
    <!--navigation-->
    <%- include('nav'); -%>

    <div class="container__content">
        <div class="sect-form">
            <!--this form helps use to collect data from the user-->
            <form action="/" method="POST" class="form">
                <input type="text" name="nameItem" class="form__input">
                <button type="submit" name="button" class="form__btn">Add</button>
            </form>
        </div>

        <!--to do list-->

        <div class="sect-card">
            <!--2.2-->
            <h2><%= kindOfDay %>'s Plans</h2>
            <div class="card">
                <!--Create a new list-->
                <ul class="card__list">
                    <!--3.35-->
                    <% for(let i = 0; i < newitem.length; i++) {%>
                    <li class="card__item">
                        <input type="checkbox">
                        <p class="card__p"><%= newitem[i] %> </p>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>

    </div>

    <!--footer-->
    <%- include('footer'); -%>

</body>

</html>